@import "bootstrap";

.panel { margin-bottom: 10px; }

#upper-content {
  background-color: #EFF5FB;
  padding-top: 45px;
}

#main-nav { background-color: #0B0B61; }
#navbar-brand { color: white; }
.navbar-links { color: #D8D8D8 !important; }
.glyphicon-heart { color: red; }
#brand-color { color: #0B0B61; }
.centerize { text-align: center; }
.hidden { display: none; }

.nav-pills {
  padding-bottom: 15px;
  text-align:center;
  li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}

#scrollToTop{
  text-align: center;
  font-size: 30px;
  color: #444;
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: none;
  opacity: 0.4;
}

